<section id="cover" class="min-vh-100">
      <div class="container">
          <div class="row text-black">
              <div class="col-md-8  mx-auto text-center form p-4">
                  <div class="px-2">
                <button class="btn"><a href="/spaces"><i class="fa fa-home"></i> View Space</a></button>
                <button class="btn"><a href="/spaces/add"><i class="fa fa-home"></i> Add Space</a></button>
                <br>
                <br>
                <div>
                  <button class="btn"><a href="/your_hostings"><i class="fa fa-home"></i> Your Hostings</a></button>
                  <button class="btn"><a href="/your_stays"><i class="fa fa-home"></i> Your Stays</a></button>
                <div>
                </div>
               </div>
             </div>
           </div>
         </div>
      </div>
</section>
