<div id="large_container" style="background-image: url('https://images.unsplash.com/photo-1481277542470-605612bd2d61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjE3MzYxfQ&auto=format&fit=crop&w=1595&q=80');
    background-size: cover;
    background-color: #0c5460;">
<div class='heading'>
  <br><br>
<h1 style="color: red">Welcome to MakersBnB</h1>
  <h6 style="text-align: center"> <i>It's more than a stay</i></h6>
</div>
<br><br>
<section id="cover" class="min-vh-100">
  <div id="cover-caption">
      <div class="container">
          <div class="row text-black">
              <div class="col-md-8  mx-auto text-center form p-4">
                  <div class="px-2">
                <div class='form'>
                  <form action="/session" class="justify-content-center" method='post'>
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input type="email" class="form-control" id="email" name='user_email' aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control"  id="password" name='user_password' placeholder="Password">
                </div>
                <button type="submit" value='Sign in' class="bttn btn-secondary">Login</button>
                <small class="form-text text-muted"><b style="color: black">Don't have an account? <a href="/sign_up" style="color: darkred ">Sign Up</a></b></small>
              </form>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br><br>
<h6 style="text-align: center">
  <%= flash[:notice] %>
</h6>
</div>
