<div id="large_container3" style="background-image: url('https://images.unsplash.com/photo-1531685250784-7569952593d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1867&q=80')">
  <div class='heading'>
    <h1>Registration</h1>
    <h6 style="text-align: center"> <i>It's more than a stay</i></h6>
  </div>
  <section id="cover" class="min-vh-100">
  <div id="cover-caption">
      <div class="container">
          <div class="row text-black">
              <div class="col-md-8  mx-auto text-center form p-4">
                <div class="px-2">
                <div class='form'>
                  <form action="/sign_up" class="justify-content-center" method='post'>
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" name='name' placeholder="Name">
                </div>
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input type="email" class="form-control" id="email" name='email' aria-describedby="emailHelp" placeholder="Enter email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control"  id="password" name='password' placeholder="Password">
                </div>
                 <div class="form-group">
                  <label for="number">Mobile Number</label>
                  <input type="number" class="form-control" id="password" name='number' placeholder="Mobile Number">
                </div>
                <button type="submit" value='Sign up' style="bttn btn-primary">Sign Up</button>
                    <small class="form-text text-muted"><b style="color: black">Already have an account? <a href="/login" style="color: darkred ">Sign in</a></b></small>
              </form>
                </div>
                </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
