<div class='heading'>
<h1>Views</h1>
</div>

<div class='words'>
  <p>Hello world. Welcome to Makersbnb. Here is a list of spaces!</p>
</div>


<div class="list-group">
    <a href="https://www.airbnb.co.uk/rooms/30075786?source_impression_id=p3_1597144927_kfwSlVP3lVQDCjLi" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Ralph's Luxurious 4 bedroom</h5>
        <small class="text-muted">3 days ago</small>
      </div>
      <p class="mb-1">This spacious, new decorated with a lovely garden and an aquamarine pool overlooking sunset peak.</p>
      <small><strong>Price: £160</strong></small>
  </a>
  <a href="https://www.airbnb.co.uk/rooms/37987696?location=brighton&check_in=2020-08-20&check_out=2020-09-23&previous_page_section_name=1000&display_extensions%5B%5D=MONTHLY_STAYS&federated_search_id=15e8f667-c3fb-4257-8fbc-7ee5f2cd2157" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Mark's Lovely Space</h5>
      <small class="text-muted">5 days ago</small>
    </div>
    <p class="mb-1">This neat 4 bedroom near Brighton is the perfect place be if you want to escape all the hustles of London.</p>
    <small><strong>Price: £160</strong></small>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small class="text-muted">6 days ago</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small class="text-muted">Donec id elit non mi porta.</small>
  </a>
</div>