<div class='heading'>
<h1>Booking Requests</h1>
</div>

<p>
Please select <strong>Accept</strong> or <strong>Decline</strong>
</p>



<script>
function myFunction() {
   var element = document.getElementById("myDIV");
   element.classList.toggle("accept");
}
</script>

<div class="row text-black">
  <div class="col-md-8  mx-auto text-center form p-4">
    <div class="px-2">
      <div class='form'>
        <div class="list-group">
          <a href="" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Ralph's Luxurious 4 bedroom</h5>
              <h6>User Email</h6>
              <br>
              <button onclick="myFunction()">Accept</button>
              <div id="myDIV">
              </div>
              <button onclick="myFunction()">Decline</button>
            </div>

          </a>
          <br>
          <a href="" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Paul's gorgeous 3 bedroom</h5>
              <br>
              <h6>User Email</h6>
              <br>
              <button onclick="myFunction()">Accept</button>
              <div id="myDIV">
              </div>
              <button onclick="myFunction()">Decline</button>
            </div>
          </a>
          <br>
          <a href="" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Mark's neat 5 bedroom</h5><br>
              <br>
              <h6>User Email</h6>
              <br>
              <button onclick="myFunction()">Accept</button>
              <div id="myDIV">
              </div>
              <button onclick="myFunction()">Decline</button>
            </div>
          </a>
          <br>
          <a href="" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Hilda's Luxurious 9 Villa</h5>
              <br>
              <h6>User Email</h6>
              <br>
              <button onclick="myFunction()">Accept</button>
              <div id="myDIV">
              </div>
              <button onclick="myFunction()">Decline</button>
            </div>
          </a>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
