.heading h1{
  color: rgb(240,0,0);
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  font-family: arial;
}


p {
  color:black;
  text-align: center;
}

#cover {
  background-size: cover;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 5px;
}

#cover-caption {
  width: 100%;
  position: relative;
  z-index: 1;
}

form:before {
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.116);
  z-index: -1;
  border-radius: 10px;
}

label {
  color: rgba(12, 2, 2, 0.945);
  font-weight: bolder;
  font-size: 17px;
  text-align: initial;
}

.btn{
  background-color: rgb(240,0,0);
  border: none;
  color:white;
  padding: 40px 30px;
  width: 240px;
  font-size: 16px;
  cursor: pointer;
  height: 150px;
  text-align: center;
  font-weight: bolder;
  font-size: 18px;
  margin: 30px 30px 5px;
  text-decoration: none;
  transition: all 0.5s;
}

.btn:hover {
    background-color: grey;
  }

.btn a {
  text-decoration: none;
  color: white;
}


.accept {
  width: 100%;
  padding: 25px;
  background-color: coral;
  color: white;
  font-size: 25px;
  box-sizing: border-box;
}

.footer {
  position: float;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 100%;
  margin-top: 70px;
  background-color: rgba(70, 69, 69, 0.055);
  color: black;
  text-align: center;
}

.logo image {
  position: absolute;
  margin-top: 15px;
  margin-left: 10px;
}

.bttn btn-primary {
color: red;
}
