.heading h1{
  color:black;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

p {
  color:black;
  /* font-size: */
  text-align: center;
}

#cover {
  background-size: cover;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 5px;
}

#cover-caption {
  width: 100%;
  position: relative;
  z-index: 1;
}

form:before {
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
  z-index: -1;
  border-radius: 10px;
}