<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href=".../views/css/makersbnb.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<title>makersbnb</title>
<body>


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Makersbnb</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="spaces/new">Add Space<span class='sr-only'>(current)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/spaces">View Spaces</a>
        </li>
     </div>
        </li>
      </ul>
    </div>
  </nav>



<div class='heading'>
<h1>Add a Space</h1>
</div>

<div class='words'>
  <p>Hello world,<br>
     Welcome to Makersbnb. Hope you have a lovely stay!</p>
</div>

<section id="cover" class="min-vh-100">
  <div id="cover-caption">
      <div class="container">
          <div class="row text-white">
              <div class="col-md-8  mx-auto text-center form p-4">
                  <div class="px-2">
                <div class='form'>
                  <form action="" class="justify-content-center">
                      <!-- <div class="form-row"> -->
                        <div class="form-group col-md-8">
                          <label for="name">Name</label>
                          <input type="name" class="form-control" id="name" name="name" placeholder="">
                        </div>
                      </div>
                      <!-- <div class="form-group col-md-3"> -->
                        <div class="form-group col-md-10">
                          <label for="description">Description</label>
                          <textarea class="form-control" id="description" name="description" rows="5"></textarea>
                        </div>
                      <!-- </div> -->
                    </div>
                    <div class="form-group col-md-5">
                      <label for="price">Price per Night</label>
                      <input type="text" class="form-control" id="price" name="price" placeholder="">
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-5">
                        <label for="availabilefrom">Available From:</label>
                        <input type="text" class="form-control" name="availability_start" id="date">
                      </div>
                      <div class="form-group col-md-5">
                        <label for="availableto">Available To:</label>
                        <input type="text" class="form-control" name="availability_end" id="date">
                      </div>
      </div>
<br>
        <div class='button'>
      <button type="submit" class="btn btn-primary">Add Space</button>
        </div>
    </form>
  </div>
  </div>
  </div>

    </div>
  </div>
  </section>



</body>

<div>
<footer>
  coding is fun
</footer>
</div>
</html>
